body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6fb;
}

/* NAVBAR */
nav{
    background:#111827;
    color:white;
    padding:18px 40px;
    font-size:22px;
    font-weight:bold;
}

/* CARD */
.container{
    width:350px;
    margin:50px auto;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
    text-align:center;
}

/* INPUT */
input, select{
    width:90%;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

/* BUTTON */
button{
    padding:10px 20px;
    border:none;
    background:#4f46e5;
    color:white;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#3730a3;
}

/* LIST */
ul{
    list-style:none;
    padding:0;
}

li{
    background:#eef2ff;
    margin:10px 0;
    padding:10px;
    border-radius:6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:14px;
}

/* DELETE */
.delete{
    background:red;
    border:none;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

/* CATEGORY TAG */
.tag{
    padding:4px 8px;
    border-radius:5px;
    font-size:11px;
    color:white;
    margin-left:8px;
}

.Food{ background:#22c55e; }
.Travel{ background:#3b82f6; }
.Shopping{ background:#a855f7; }
.Bills{ background:#f97316; }
.Other{ background:#6b7280; }

