body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#f4f6fb;
}

/* NAVBAR */
nav{
    background:#111827;
    color:white;
    padding:15px 40px;
    font-size:20px;
    font-weight:bold;
}

/* MAIN BOX */
.container{
    width:350px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
    text-align:center;
}

/* INPUTS */
input{
    width:90%;
    padding:10px;
    margin:10px 0;
    border-radius:6px;
    border:1px solid #ccc;
}

/* BUTTON */
button{
    padding:10px 20px;
    border:none;
    background:#4f46e5;
    color:white;
    border-radius:6px;
    cursor:pointer;
    margin-top:10px;
}

button:hover{
    background:#3730a3;
}

/* LIST */
ul{
    list-style:none;
    padding:0;
}

li{
    background:#eef2ff;
    margin:10px 0;
    padding:10px;
    border-radius:6px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* DELETE BTN */
.delete{
    background:red;
    border:none;
    color:white;
    padding:5px 10px;
    border-radius:5px;
    cursor:pointer;
}

